In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# houses my function to connect to Codeup DB
import wrangle as wr

**Exercises:**

- Only include properties with a transaction in 2017
    - include only the last transaction for each property 
    - zestimate error
    - date of transaction
- Only include properties that have a latitude and longitude value

**Domain Notes:**

1. Are there requirements for bedrooms for single family units?
* Yes, there is a minimum amount of bedrooms required for single family residential in Los Angeles County. According to the Los Angeles County Building Code, a single family dwelling must have at least one habitable room that is at least 120 square feet in area and has a minimum dimension of 7 feet in any direction. Additionally, the dwelling must have at least one bedroom for every two occupants, with a minimum of one bedroom per dwelling unit. 
    * Specifically, the requirements for habitable rooms and bedrooms can be found in Section 1208.4 and Section 1208.5, respectively. https://dpw.lacounty.gov/bsd/building-code/
    
2. Are there requirements for bathrooms for single family units?
* According to the Los Angeles County Building Code, a single family dwelling must have at least one bathroom that includes a toilet, sink, and bathtub or shower.
    * Specifically, the requirements for bathrooms can be found in Section 1208.2. Los angeles county adopted the california plumbing code requirements.
        * LA County: https://dpw.lacounty.gov/bsd/building-code/
        * CA Plumbing Code: 
    
3. Are there lot size requirements for a single family home?
* The lot size range is 1,500 - 5,000 square feet
    * https://planning.lacounty.gov/zoning-ordinance/

In [5]:
# set query to SQL
query = """SELECT *
FROM properties_2017
JOIN predictions_2017 using (parcelid)
LEFT JOIN airconditioningtype using (airconditioningtypeid)
LEFT JOIN architecturalstyletype using (architecturalstyletypeid)
LEFT JOIN buildingclasstype using (buildingclasstypeid)
LEFT JOIN heatingorsystemtype using (heatingorsystemtypeid)
LEFT JOIN storytype using (storytypeid)
LEFT JOIN typeconstructiontype using (typeconstructiontypeid)
WHERE propertylandusetypeid like 260 or 261 or 262 or 263 or 264 or 265 or 266 or 268 or 269 or 270 or 275 or 276 or 279
and lotsizesquarefeet >= 1500
and bathroomcnt > 1
and bedroomcnt > 1
ORDER BY parcelid;"""

In [104]:
# acquire
df = wr.get_df('zillow', query)

CSV file found and loaded

In [105]:
# look at the data
df.head()

,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,bathroomcnt,...,censustractandblock,id.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc,typeconstructiondesc
0,NaN,NaN,2.0,NaN,NaN,NaN,10711855,1087254,NaN,2.0,...,6.037113e+13,55006,-0.007357,2017-07-07,NaN,NaN,NaN,Central,NaN,NaN
1,NaN,NaN,2.0,NaN,NaN,1.0,10711877,1072280,NaN,2.0,...,6.037113e+13,71382,0.021066,2017-08-29,Central,NaN,NaN,Central,NaN,NaN
2,NaN,NaN,2.0,NaN,NaN,1.0,10711888,1340933,NaN,2.0,...,6.037113e+13,23209,0.077174,2017-04-04,Central,NaN,NaN,Central,NaN,NaN
3,NaN,NaN,2.0,NaN,NaN,NaN,10711910,1878109,NaN,2.0,...,6.037113e+13,18017,-0.041238,2017-03-17,NaN,NaN,NaN,Central,NaN,NaN
4,NaN,NaN,2.0,NaN,NaN,NaN,10711923,2190858,NaN,2.0,...,6.037113e+13,20378,-0.009496,2017-03-24,NaN,NaN,NaN,Central,NaN,NaN

In [106]:
# checking types and nulls
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52442 entries, 0 to 52441
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        76 non-null     float64
 1   storytypeid                   47 non-null     float64
 2   heatingorsystemtypeid         33936 non-null  float64
 3   buildingclasstypeid           0 non-null      float64
 4   architecturalstyletypeid      70 non-null     float64
 5   airconditioningtypeid         13638 non-null  float64
 6   parcelid                      52442 non-null  int64
 7   id                            52442 non-null  int64
 8   basementsqft                  47 non-null     float64
 9   bathroomcnt                   52442 non-null  float64
 10  bedroomcnt                    52442 non-null  float64
 11  buildingqualitytypeid         33741 non-null  float64
 12  calculatedbathnbr             52305 non-null  float64
 13  decktypeid                    389 non-null    float64
 14  finishedfloor1squarefeet      4381 non-null   float64
 15  calculatedfinishedsquarefeet  52360 non-null  float64
 16  finishedsquarefeet12          52195 non-null  float64
 17  finishedsquarefeet13          0 non-null      float64
 18  finishedsquarefeet15          0 non-null      float64
 19  finishedsquarefeet50          4381 non-null   float64
 20  finishedsquarefeet6           165 non-null    float64
 21  fips                          52442 non-null  float64
 22  fireplacecnt                  7243 non-null   float64
 23  fullbathcnt                   52305 non-null  float64
 24  garagecarcnt                  18015 non-null  float64
 25  garagetotalsqft               18015 non-null  float64
 26  hashottuborspa                1515 non-null   float64
 27  latitude                      52442 non-null  float64
 28  longitude                     52442 non-null  float64
 29  lotsizesquarefeet             52073 non-null  float64
 30  poolcnt                       11096 non-null  float64
 31  poolsizesum                   867 non-null    float64
 32  pooltypeid10                  444 non-null    float64
 33  pooltypeid2                   1071 non-null   float64
 34  pooltypeid7                   10009 non-null  float64
 35  propertycountylandusecode     52442 non-null  object
 36  propertylandusetypeid         52442 non-null  float64
 37  propertyzoningdesc            33849 non-null  object
 38  rawcensustractandblock        52442 non-null  float64
 39  regionidcity                  51405 non-null  float64
 40  regionidcounty                52442 non-null  float64
 41  regionidneighborhood          19033 non-null  float64
 42  regionidzip                   52416 non-null  float64
 43  roomcnt                       52442 non-null  float64
 44  threequarterbathnbr           6724 non-null   float64
 45  unitcnt                       33848 non-null  float64
 46  yardbuildingsqft17            1937 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52326 non-null  float64
 49  numberofstories               14561 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52358 non-null  float64
 52  taxvaluedollarcnt             52441 non-null  float64
 53  assessmentyear                52442 non-null  float64
 54  landtaxvaluedollarcnt         52441 non-null  float64
 55  taxamount                     52438 non-null  float64
 56  taxdelinquencyflag            2079 non-null   object
 57  taxdelinquencyyear            2079 non-null   float64
 58  censustractandblock           52319 non-null  float64
 59  id.1                          52442 non-null  int64
 60  logerror                      52442 non-null  float64
 61  transactiondate               52442 non-null  object
 62  airconditioningdesc           13638 non-null  object
 63  architecturalstyledesc        70 non-null     object
 64  buildingclassdesc             0 non-null      float64
 65  heatingorsystemdesc           33936 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
dtypes: float64(56), int64(3), object(9)
memory usage: 27.6+ MB

In [107]:
# shape of df
df.shape

(52442, 68)

In [108]:
# numerical descriptive stats transposed to see all columns
df.describe().T

,count,mean,std,min,25%,50%,75%,max
typeconstructiontypeid,76.0,5.973684e+00,2.294157e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00
storytypeid,47.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
heatingorsystemtypeid,33936.0,3.966378e+00,2.562521e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
buildingclasstypeid,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
architecturalstyletypeid,70.0,7.100000e+00,2.665670e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
airconditioningtypeid,13638.0,2.438041e+00,3.846176e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
parcelid,52442.0,1.299912e+07,3.411412e+06,1.071186e+07,1.151030e+07,1.257766e+07,1.412951e+07,1.676878e+08
id,52442.0,1.497288e+06,8.594413e+05,3.490000e+02,7.579560e+05,1.500836e+06,2.241564e+06,2.982270e+06
basementsqft,47.0,6.789787e+02,7.118252e+02,3.800000e+01,2.635000e+02,5.120000e+02,8.095000e+02,3.560000e+03
bathroomcnt,52442.0,2.299397e+00,1.022764e+00,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,52442.0,3.300675e+00,9.490858e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.400000e+01
buildingqualitytypeid,33741.0,6.264100e+00,1.716181e+00,1.000000e+00,5.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,52305.0,2.304732e+00,1.017958e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,389.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,4381.0,1.545611e+03,6.748653e+02,1.840000e+02,1.151000e+03,1.410000e+03,1.759000e+03,6.912000e+03
calculatedfinishedsquarefeet,52360.0,1.922874e+03,1.004363e+03,1.280000e+02,1.268000e+03,1.659000e+03,2.306000e+03,2.192900e+04
finishedsquarefeet12,52195.0,1.925029e+03,1.004273e+03,1.280000e+02,1.270000e+03,1.660000e+03,2.308000e+03,2.192900e+04
finishedsquarefeet13,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet15,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet50,4381.0,1.566375e+03,7.445229e+02,1.840000e+02,1.152000e+03,1.414000e+03,1.770000e+03,1.246700e+04
finishedsquarefeet6,165.0,1.241079e+03,7.769591e+02,3.800000e+02,7.840000e+02,1.008000e+03,1.320000e+03,5.598000e+03
fips,52442.0,6.049132e+03,2.102893e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,7243.0,1.209858e+00,5.128851e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,52305.0,2.239576e+00,9.931980e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,18015.0,1.948987e+00,5.499437e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,18015.0,4.958757e+02,1.570447e+02,0.000000e+00,4.260000e+02,4.620000e+02,5.670000e+02,4.251000e+03
hashottuborspa,1515.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,52442.0,3.402254e+07,2.739761e+05,3.334062e+07,3.382691e+07,3.402377e+07,3.418715e+07,3.481877e+07
longitude,52442.0,-1.181942e+08,3.566615e+05,-1.194754e+08,-1.184007e+08,-1.181531e+08,-1.179292e+08,-1.175546e+08
lotsizesquarefeet,52073.0,1.133952e+04,8.674680e+04,2.360000e+02,5.583000e+03,6.840000e+03,8.798000e+03,6.971010e+06
poolcnt,11096.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,867.0,5.183183e+02,1.564682e+02,2.400000e+01,4.245000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,444.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1071.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,10009.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
propertylandusetypeid,52442.0,2.610000e+02,0.000000e+00,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02
rawcensustractandblock,52442.0,6.049443e+07,2.086879e+05,6.037101e+07,6.037401e+07,6.037620e+07,6.059042e+07,6.111009e+07
regionidcity,51405.0,3.350309e+04,4.917614e+04,3.491000e+03,1.244700e+04,2.481200e+04,4.022700e+04,3.965560e+05
regionidcounty,52442.0,2.524599e+03,8.039863e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,19033.0,1.802671e+05,1.598249e+05,6.952000e+03,4.113100e+04,1.182080e+05,2.745140e+05,7.641670e+05
regionidzip,52416.0,9.663584e+04,4.605064e+03,9.598200e+04,9.620600e+04,9.641200e+04,9.699500e+04,3.996750e+05
roomcnt,52442.0,1.893673e+00,3.146418e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,1.500000e+01
threequarterbathnbr,6724.0,1.013682e+00,1.426160e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
unitcnt,33848.0,1.000916e+00,3.121116e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
yardbuildingsqft17,1937.0,3.376278e+02,2.500216e+02,1.100000e+01,2.000000e+02,2.800000e+02,4.000000e+02,3.191000e+03
yardbuildingsqft26,63.0,2.256190e+02,1.885051e+02,1.200000e+01,7.150000e+01,1.800000e+02,3.170000e+02,8.680000e+02
yearbuilt,52326.0,1.963394e+03,2.313335e+01,1.878000e+03,1.950000e+03,1.961000e+03,1.979000e+03,2.016000e+03
numberofstories,14561.0,1.413914e+00,5.406765e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,81.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,52358.0,1.965315e+05,2.543382e+05,1.290000e+02,7.707175e+04,1.318070e+05,2.263198e+05,9.164901e+06
taxvaluedollarcnt,52441.0,5.296830e+05,7.518883e+05,1.000000e+03,1.937500e+05,3.736120e+05,6.193010e+05,4.906124e+07
assessmentyear,52442.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,52441.0,3.334626e+05,5.705227e+05,1.610000e+02,7.602600e+04,2.180250e+05,4.086000e+05,4.895220e+07
taxamount,52438.0,6.453452e+03,8.755495e+03,4.918000e+01,2.656250e+03,4.647730e+03,7.377445e+03,5.866393e+05
taxdelinquencyyear,2079.0,1.410245e+01,2.394972e+00,4.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,52319.0,6.050240e+13,1.859019e+12,6.037101e+13,6.037401e+13,6.037620e+13,6.059042e+13,4.830301e+14
id.1,52442.0,3.886063e+04,2.234844e+04,0.000000e+00,1.954625e+04,3.892750e+04,5.809350e+04,7.761300e+04
logerror,52442.0,1.829437e-02,1.775018e-01,-4.655420e+00,-2.463935e-02,7.009984e-03,4.069098e-02,5.262999e+00
buildingclassdesc,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Acquire Notes:**

Wow. What a mess. 

* Remove buildingclasstypeid, finishedsquarefeet13, finishedsquarefeet15, buildingclassdesc off the bat because these columns contain no information at all.
* Make null function to look by row, return a df

**Exercise:**
- Only include properties with a transaction in 2017
    - include only the last transaction for each property
    - zestimate error
    - date of transaction
- Only include properties that have a latitude and longitude value

**Prepare:**
- Remove columns with no data
- Remove transactions from 2018
- Check duplicates
- Zestimate Error
- Date not null
- Lat and Long is populated

In [109]:
# remove columns with no data
df.drop(columns=['buildingclasstypeid','finishedsquarefeet13','finishedsquarefeet15','buildingclassdesc'], inplace=True)
df.head()

,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,bathroomcnt,bedroomcnt,...,taxdelinquencyyear,censustractandblock,id.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,heatingorsystemdesc,storydesc,typeconstructiondesc
0,NaN,NaN,2.0,NaN,NaN,10711855,1087254,NaN,2.0,3.0,...,NaN,6.037113e+13,55006,-0.007357,2017-07-07,NaN,NaN,Central,NaN,NaN
1,NaN,NaN,2.0,NaN,1.0,10711877,1072280,NaN,2.0,4.0,...,NaN,6.037113e+13,71382,0.021066,2017-08-29,Central,NaN,Central,NaN,NaN
2,NaN,NaN,2.0,NaN,1.0,10711888,1340933,NaN,2.0,4.0,...,NaN,6.037113e+13,23209,0.077174,2017-04-04,Central,NaN,Central,NaN,NaN
3,NaN,NaN,2.0,NaN,NaN,10711910,1878109,NaN,2.0,3.0,...,NaN,6.037113e+13,18017,-0.041238,2017-03-17,NaN,NaN,Central,NaN,NaN
4,NaN,NaN,2.0,NaN,NaN,10711923,2190858,NaN,2.0,4.0,...,NaN,6.037113e+13,20378,-0.009496,2017-03-24,NaN,NaN,Central,NaN,NaN

In [110]:
# remove transactions from 2018 - there are none
df[df.transactiondate == '%2018%']

Empty DataFrame
Columns: [typeconstructiontypeid, storytypeid, heatingorsystemtypeid, architecturalstyletypeid, airconditioningtypeid, parcelid, id, basementsqft, bathroomcnt, bedroomcnt, buildingqualitytypeid, calculatedbathnbr, decktypeid, finishedfloor1squarefeet, calculatedfinishedsquarefeet, finishedsquarefeet12, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, propertycountylandusecode, propertylandusetypeid, propertyzoningdesc, rawcensustractandblock, regionidcity, regionidcounty, regionidneighborhood, regionidzip, roomcnt, threequarterbathnbr, unitcnt, yardbuildingsqft17, yardbuildingsqft26, yearbuilt, numberofstories, fireplaceflag, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, taxdelinquencyflag, taxdelinquencyyear, censustractandblock, id.1, logerror, transactiondate, airconditioningdesc, architecturalstyledesc, heatingorsystemdesc, storydesc, typeconstructiondesc]
Index: []

[0 rows x 64 columns]

In [111]:
# check duplicates for parcelid - there are 122!
df[df.parcelid.duplicated()]

,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,bathroomcnt,bedroomcnt,...,taxdelinquencyyear,censustractandblock,id.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,heatingorsystemdesc,storydesc,typeconstructiondesc
258,NaN,NaN,2.0,NaN,NaN,10722858,16179,NaN,2.0,4.0,...,NaN,6.037135e+13,14034,-0.172843,2017-07-28,NaN,NaN,Central,NaN,NaN
489,NaN,NaN,2.0,NaN,NaN,10732347,1836115,NaN,2.0,4.0,...,NaN,6.037137e+13,13914,-0.221145,2017-07-25,NaN,NaN,Central,NaN,NaN
625,NaN,NaN,2.0,NaN,1.0,10739478,2119208,NaN,3.0,4.0,...,NaN,6.037800e+13,2905,-0.262967,2017-03-31,Central,NaN,Central,NaN,NaN
1133,NaN,NaN,2.0,NaN,1.0,10779619,210164,NaN,3.0,3.0,...,15.0,6.037133e+13,19107,-0.286966,2017-08-28,Central,NaN,Central,NaN,NaN
1633,NaN,NaN,2.0,NaN,1.0,10811539,449181,NaN,4.0,4.0,...,NaN,6.037138e+13,21345,-0.021841,2017-08-30,Central,NaN,Central,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50199,NaN,NaN,NaN,NaN,NaN,17193966,1835607,NaN,4.5,5.0,...,NaN,6.111006e+13,15219,-0.026852,2017-04-14,NaN,NaN,NaN,NaN,NaN
50872,NaN,NaN,NaN,NaN,NaN,17225336,2684934,NaN,3.0,4.0,...,NaN,6.111008e+13,33865,-0.100843,2017-08-30,NaN,NaN,NaN,NaN,NaN
51980,NaN,NaN,NaN,NaN,NaN,17280166,2595690,NaN,3.0,4.0,...,NaN,6.111007e+13,38851,-0.116808,2017-06-15,NaN,NaN,NaN,NaN,NaN
52036,NaN,NaN,NaN,NaN,NaN,17282392,2938730,NaN,2.0,3.0,...,NaN,6.111007e+13,64278,0.901074,2017-08-25,NaN,NaN,NaN,NaN,NaN
52425,NaN,NaN,NaN,NaN,NaN,162960529,2415168,NaN,4.0,4.0,...,NaN,6.111005e+13,34299,0.007117,2017-05-26,NaN,NaN,NaN,NaN,NaN

In [125]:
# keeping the last duplicates for parcelid
df[df.parcelid.duplicated()].sort_values(by='parcelid')
df.drop_duplicates(subset=['parcelid'], keep='last', inplace=True)

In [126]:
# verifying drop of dupes
df.parcelid.duplicated().sum()

0

In [127]:
# look at shape
df.shape

(52320, 64)

In [133]:
# check zestimate error has values
df.logerror.isnull().sum()

0

In [131]:
# check that transaction date has values
df.transactiondate.isnull().sum()

0

In [132]:
# check that lat/long has values
df.latitude.isnull().sum(), df.longitude.isnull().sum()

(0, 0)

In [134]:
# use the function to look at nulls per row 

# set variables first

num_missing = df.isnull().sum(axis=1)
pct_miss = ((num_missing / df.shape[1]) * 100).round(0)

In [137]:
# making it readable by using a dataframe
rows_missing = pd.DataFrame({'parcelid':df.parcelid,'num_cols_missing': num_missing, 'percent_cols_missing': pct_miss})

In [138]:
# look at the info
rows_missing.sort_values(by="num_cols_missing", ascending=False)

        parcelid  num_cols_missing  percent_cols_missing
52441  167687839                44                  69.0
52440  167686999                44                  69.0
50123   17188862                43                  67.0
46567   14460039                42                  66.0
43810   14341510                41                  64.0
...          ...               ...                   ...
39317   14128839                20                  31.0
34171   13851844                20                  31.0
50644   17215105                20                  31.0
46781   14465914                19                  30.0
41345   14215623                19                  30.0

[52320 rows x 3 columns]

In [148]:
# preserve the unique parcelids
null_rows = df.merge(rows_missing,
                        left_index=True,
                        right_index=True).reset_index()[['parcelid_x', 'num_cols_missing', 'percent_cols_missing']]

null_rows.rename(columns={'parcelid_x':'id'}, inplace=True)

In [149]:
# sort by biggest amount of missing values
null_rows.sort_values(by="num_cols_missing", ascending=False)

              id  num_cols_missing  percent_cols_missing
52319  167687839                44                  69.0
52318  167686999                44                  69.0
50006   17188862                43                  67.0
46456   14460039                42                  66.0
43703   14341510                41                  64.0
...          ...               ...                   ...
39214   14128839                20                  31.0
34084   13851844                20                  31.0
50526   17215105                20                  31.0
46670   14465914                19                  30.0
41242   14215623                19                  30.0

[52320 rows x 3 columns]

In [47]:
# make function to look at number missing per row
def nulls_by_row(df, index_id = 'parcelid'):
    """This function takes in a df and returns a df that contains all null information:
    number of missing values and the percent.
    ---
    Format: df_nulls = function()
    """
    # assign variables
    num_missing = df.isnull().sum(axis=1)
    pct_miss = ((num_missing / df.shape[1]) * 100).round(0)   
    
    # make df
    rows_missing = pd.DataFrame({'parcelid':df.parcelid,'num_cols_missing': num_missing, 'percent_cols_missing': pct_miss})
   
    # preserve the unique parcelids
    null_rows = df.merge(rows_missing,
                            left_index=True,
                            right_index=True).reset_index()[['parcelid_x', 'num_cols_missing', 'percent_cols_missing']].rename(columns={'parcelid_x':'id'}, inplace=True)
    

    df_null = pd.DataFrame({'missing_vals': num_missing, 'percent': pct_miss})

    df_nulls = df.merge(df_null,
                        left_index=True,
                        right_index=True).reset_index()[[index_id, 'missing_vals', 'percent']]
    
    return df_nulls.sort_values(by='missing_vals', ascending=False)

In [48]:
df_nulls = nulls_by_row(df)
df_nulls.head()

        parcelid  missing_vals  percent
52441  167687839            48     71.0
52440  167686999            48     71.0
50123   17188862            47     69.0
46567   14460039            46     68.0
44136   14359299            45     66.0

In [ ]:
# mass removal of columns
def remove_columns(df, cols_to_remove):
    """
    This function will:
    - take in a df and list of columns
    - drop the listed columns
    - return the new df
    """
    df = df.drop(columns=cols_to_remove)
    return df

In [ ]:
# handles large df with defaults to remove if over threshold
def handle_missing_values(df, prop_required_columns=0.5, prop_required_rows=0.75):
    """
    This function will:
    - take in: 
        - a dataframe
        - column threshold (defaulted to 0.5)
        - row threshold (defaulted to 0.75)
    - calculates the minimum number of non-missing values required for each column/row to be retained
    - drops columns/rows with a high proportion of missing values.
    - returns the new df
    """
    
    column_threshold = int(round(prop_required_columns * len(df.index), 0))
    df = df.dropna(axis=1, thresh=column_threshold)
    
    row_threshold = int(round(prop_required_rows * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=row_threshold)
    
    return df

In [ ]:
# not really sure yet what this one is for
def data_prep(df, col_to_remove=[], prop_required_columns=0.5, prop_required_rows=0.75):
    """
    This function will:
    - take in: 
        - a dataframe
        - list of columns
        - column threshold (defaulted to 0.5)
        - row threshold (defaulted to 0.75)
    - removes unwanted columns
    - remove rows and columns that contain a high proportion of missing values
    - returns cleaned df
    """
    df = remove_columns(df, col_to_remove)
    df = handle_missing_values(df, prop_required_columns, prop_required_rows)
    return df